.header_wrapper {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  .header_logo {
    display: flex;
    align-items: center;
    padding-top: 24px;
  }

  .header_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    .active {
      color: #33638e;
    }

    a {
      color: #000;
      font-family: Bokonique;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .header_search_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
  }
}
