.swiper {
  width: 100%;
  height: 100%;

  .swiper-pagination-horizontal {
    display: none;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  .swiper_content_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 28px;
    background-color: #e5e5e5;
    .swiper_adverstising_content {
      width: 65%;
      height: 100%;
      background-color: #f8f8f8;
      padding-left: 72px;

      h2 {
        margin-top: 72px;
        color: #33638e;
        font-family: EZO-NA;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 3px;
      }

      p {
        margin-top: 24px;
        color: #000;
        font-family: Bokonique;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      button {
        margin: 72px 0;
        display: inline-flex;
        background-color: #33638e;
        padding: 12px 12px;
        align-items: center;
        gap: 48px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        color: #fff;
        font-family: Bokonique;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    .swiper_adverstising_img {
      flex-grow: 1;
      height: 100%;
      background-color: #33638e;
      position: relative;

      > img {
        width: 70%;
        height: 470px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 9;
      }
    }
  }
}
