.about_card_wrapper {
  display: flex;
  gap: 28px;
  margin-bottom: 120px;
  .about_content {
    width: 60%;
    height: 100%;
    background-color: #f8f8f8;
    padding: 72px 0 72px 12px;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 28px;
      max-width: 80%;
      > h2 {
        color: #33638e;
        font-family: EZO-NA;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 3px;
      }

      > p {
        color: #000;
        font-family: Bokonique;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      > button {
        display: inline-flex;
        padding: 12px 12px;
        align-items: center;
        gap: 34px;
        background: #33638e;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #fff;
        font-family: Bokonique;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        text-transform: uppercase;
      }
    }
  }
  .about_img {
    flex-grow: 1;
    background-color: #33638e;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      width: 100%;
      //   height: 100%;
      > img {
        width: 40%;
        position: absolute;
        margin: auto;
      }
      .first_img_about {
        left: 30px;
        height: 500px;
        top: -40px;
      }
      .second_img_about {
        left: 120px;
        height: 520px;
        top: -50px;
      }
      .last_img_about {
        left: 210px;
        height: 540px;
        top: -60px;
      }
    }
  }
}
