@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/Bokonique-Bold.otf";
@import "./fonts/Bokonique-Light.otf";
@import "./fonts/Bokonique-Regular.otf";
@import "./fonts/EZO-NA-Bold.otf";

@font-face {
  font-family: "Bokonique";
  src: url("./fonts/Bokonique-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bokonique";
  src: url("./fonts/Bokonique-Light.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Bokonique";
  src: url("./fonts/Bokonique-Bold.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "EZO-NA";
  src: url("./fonts/EZO-NA-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Bokonique", sans-serif;
  background: #e5e5e5;
}

.active {
  color: #33638e;
}
